body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
main {
    display: flex;
}
.left {
    width: 33%;
}
.right {
    width: 67%;
    margin-left: 30px;
    margin-top: 55px;
}
.left-background-top {
    height: 50px;
    background-color: #376193;
}
h2 {
    color: #376193;
}
.left-name {
    display: flex;
    justify-content: center;
}
img {
    width: 250px;
    border-radius: 250px;
    height: 250px;
}
.summary, .skill-highlights, .experience, .education, .certification {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left-avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    margin-top: 10px;
}
h3 {
    border-bottom: 5px solid #376193;
    width: 90%;
}
.right-background-bottom {
    height: 50px;
    background-color: #376193;
}
@media (max-width: 800px) {
    img {
        width: 100px;
        height: 100px;
        border-radius: 100px;
    }
}